{
  "openapi": "3.1.0",
  "info": {
    "title": "dydt Market Data API",
    "version": "1.0.0",
    "summary": "Read-only Solana market data: tokens, pools, candles, trades, rankings, signals.",
    "description": "Authenticate with an API key from dydt.ai/developers/keys, sent as `Authorization: Bearer <key>`. Every response uses the Envelope schema; check the HTTP status first, then read data. 401 = missing or invalid key, 403 = endpoint needs the Pro or Scale plan, 429 = rate limit or monthly quota; see X-RateLimit-* and X-Quota-* headers."
  },
  "externalDocs": {
    "description": "Developer docs",
    "url": "https://dydt.ai/developers"
  },
  "servers": [
    {
      "url": "https://data.dydt.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Tokens",
      "description": "Token search, metadata, holders, and developer history."
    },
    {
      "name": "Pools & candles",
      "description": "Pool discovery, pool state and metrics, and OHLCV candles."
    },
    {
      "name": "Trades & rankings",
      "description": "Trade events, top traders, and ranked discovery feeds."
    },
    {
      "name": "Wallets",
      "description": "Wallet stats, holdings, trades, daily PnL, leaderboards, labels, and wallet signals."
    },
    {
      "name": "Signals & market",
      "description": "Token signals, bonding-curve state, and the SOL reference price."
    }
  ],
  "paths": {
    "/token/search": {
      "get": {
        "operationId": "search",
        "tags": [
          "Tokens"
        ],
        "summary": "Search tokens",
        "description": "Find token candidates by name, symbol, or mint before opening a specific token.\n\nSymbols are not unique: several tokens can share a name or ticker. Search by mint, or use match=exact, when you need one specific token.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search text: token name, symbol, or mint. At least 1 character.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "match",
            "in": "query",
            "required": false,
            "description": "Choose smart matching or exact matching.",
            "schema": {
              "type": "string",
              "enum": [
                "smart",
                "exact"
              ],
              "default": "smart"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Restrict activity-based results to this many recent hours. Must be at least 1.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of search results. 1 to 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "description": "Field used to order results.",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "mc",
                "ath_mc",
                "volume",
                "liq",
                "holder_count",
                "created_at"
              ],
              "default": "relevance"
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "query",
                        "match_type",
                        "time_window_hours",
                        "tokens"
                      ],
                      "properties": {
                        "query": {
                          "type": "string",
                          "description": "Search text as received."
                        },
                        "match_type": {
                          "type": "string",
                          "description": "smart or exact."
                        },
                        "time_window_hours": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Volume window in hours; null for all time."
                        },
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": [
                              "pool_id",
                              "base_mint",
                              "symbol",
                              "name",
                              "image",
                              "current_mc",
                              "ath_mc",
                              "liq",
                              "volume",
                              "holder_count",
                              "tx",
                              "socials",
                              "dex",
                              "program_id",
                              "pool_type",
                              "bonding_curve_progress",
                              "migrated",
                              "created_at"
                            ],
                            "properties": {
                              "pool_id": {
                                "type": "string",
                                "description": "Main pool for the token."
                              },
                              "base_mint": {
                                "type": "string",
                                "description": "Token mint address."
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Token symbol."
                              },
                              "name": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Token name."
                              },
                              "image": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Image path on the dydt CDN."
                              },
                              "current_mc": {
                                "$ref": "#/components/schemas/ValuePair",
                                "description": "Market cap now."
                              },
                              "ath_mc": {
                                "$ref": "#/components/schemas/ValuePair",
                                "description": "Highest market cap seen."
                              },
                              "liq": {
                                "$ref": "#/components/schemas/ValuePair",
                                "description": "Pool liquidity."
                              },
                              "volume": {
                                "$ref": "#/components/schemas/ValuePair",
                                "description": "Traded volume over time_window_hours, or all time when it is null."
                              },
                              "holder_count": {
                                "type": "integer",
                                "description": "Distinct wallets that have traded the token (approximate)."
                              },
                              "tx": {
                                "type": "object",
                                "required": [
                                  "buy",
                                  "sell"
                                ],
                                "properties": {
                                  "buy": {
                                    "type": "integer",
                                    "description": "Buys."
                                  },
                                  "sell": {
                                    "type": "integer",
                                    "description": "Sells."
                                  }
                                },
                                "description": "Trade counts over the same period as volume."
                              },
                              "socials": {
                                "type": [
                                  "object",
                                  "null"
                                ],
                                "additionalProperties": true,
                                "description": "Platform name to URL when known."
                              },
                              "dex": {
                                "type": "string",
                                "description": "Venue of the pool."
                              },
                              "program_id": {
                                "type": "string",
                                "description": "Program that owns the pool."
                              },
                              "pool_type": {
                                "type": "string",
                                "description": "BONDING_CURVE, AMM, CLMM, or DLMM."
                              },
                              "bonding_curve_progress": {
                                "type": "number",
                                "description": "Bonding curve completion, 0 to 100."
                              },
                              "migrated": {
                                "type": "boolean",
                                "description": "True once the token has left its bonding curve."
                              },
                              "created_at": {
                                "type": "integer",
                                "description": "Pool creation in Unix milliseconds."
                              }
                            }
                          },
                          "description": "Matches, best first."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/token-details/{mintAddress}": {
      "get": {
        "operationId": "token",
        "tags": [
          "Tokens"
        ],
        "summary": "Token details",
        "description": "Get a token’s public metadata and current market summary from its mint address.",
        "parameters": [
          {
            "name": "mintAddress",
            "in": "path",
            "required": true,
            "description": "Token mint address. Maximum 64 characters.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            }
          },
          {
            "name": "network",
            "in": "query",
            "required": false,
            "description": "Network to query. The API accepts names or enum numbers. mainnet = 1; devnet = 2.",
            "schema": {
              "type": "string",
              "enum": [
                "mainnet",
                "devnet",
                "1",
                "2"
              ],
              "default": "mainnet"
            }
          },
          {
            "name": "includeOffchain",
            "in": "query",
            "required": false,
            "description": "Include off-chain metadata such as name, symbol, and image.",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "tokenDetails",
                        "offchainMetadata"
                      ],
                      "properties": {
                        "tokenDetails": {
                          "type": "object",
                          "required": [
                            "mintAddress",
                            "network",
                            "decimals",
                            "symbol",
                            "supply",
                            "mintAuthority",
                            "freezeAuthority",
                            "authoritiesKnown",
                            "transferFeeBps",
                            "dexPaid",
                            "programId",
                            "isInitialized",
                            "createdAt",
                            "uri"
                          ],
                          "properties": {
                            "mintAddress": {
                              "type": "string",
                              "description": "Token mint address."
                            },
                            "network": {
                              "type": "integer",
                              "description": "Network id; 1 is Solana mainnet."
                            },
                            "decimals": {
                              "type": "integer",
                              "description": "Token decimals."
                            },
                            "symbol": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Token symbol."
                            },
                            "supply": {
                              "type": "string",
                              "description": "Current supply in raw units; divide by 10^decimals."
                            },
                            "mintAuthority": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Mint authority; null when revoked."
                            },
                            "freezeAuthority": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Freeze authority; null when revoked."
                            },
                            "authoritiesKnown": {
                              "type": "boolean",
                              "description": "False when the authorities could not be read yet."
                            },
                            "transferFeeBps": {
                              "type": "integer",
                              "description": "Token-2022 transfer fee in basis points; 0 for none."
                            },
                            "dexPaid": {
                              "type": "boolean",
                              "description": "Whether a DEX Screener profile was paid for."
                            },
                            "programId": {
                              "type": "string",
                              "description": "Token program: SPL Token or Token-2022."
                            },
                            "isInitialized": {
                              "type": "boolean",
                              "description": "Whether the mint account is initialized."
                            },
                            "createdAt": {
                              "type": "string",
                              "description": "ISO time the token was created."
                            },
                            "uri": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Metadata URI recorded on chain."
                            }
                          },
                          "description": "On-chain mint data."
                        },
                        "offchainMetadata": {
                          "type": [
                            "object",
                            "null"
                          ],
                          "required": [
                            "metadata_url",
                            "image",
                            "cdn_image",
                            "image_status",
                            "name",
                            "symbol",
                            "twitter",
                            "instagram",
                            "tiktok",
                            "reddit",
                            "website",
                            "telegram",
                            "medium",
                            "youtube",
                            "discord",
                            "github",
                            "description",
                            "attributes",
                            "external_url",
                            "error_message",
                            "updated_at"
                          ],
                          "properties": {
                            "metadata_url": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Metadata JSON URL, often IPFS."
                            },
                            "image": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Original image URL from the metadata."
                            },
                            "cdn_image": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Image path on the dydt CDN; prefer it over image."
                            },
                            "image_status": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "ok when the image was fetched and stored."
                            },
                            "name": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Name from the metadata."
                            },
                            "symbol": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Symbol from the metadata."
                            },
                            "twitter": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "twitter URL from the metadata."
                            },
                            "instagram": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "instagram URL from the metadata."
                            },
                            "tiktok": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "tiktok URL from the metadata."
                            },
                            "reddit": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "reddit URL from the metadata."
                            },
                            "website": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "website URL from the metadata."
                            },
                            "telegram": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "telegram URL from the metadata."
                            },
                            "medium": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "medium URL from the metadata."
                            },
                            "youtube": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "youtube URL from the metadata."
                            },
                            "discord": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "discord URL from the metadata."
                            },
                            "github": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "github URL from the metadata."
                            },
                            "description": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Description from the metadata."
                            },
                            "attributes": {
                              "type": [
                                "array",
                                "null"
                              ],
                              "items": {
                                "type": "object"
                              },
                              "description": "Attributes from the metadata, as published."
                            },
                            "external_url": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "External URL from the metadata."
                            },
                            "error_message": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Why the metadata could not be fetched, when it failed."
                            },
                            "updated_at": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "ISO time the metadata was last fetched."
                            }
                          },
                          "description": "Metadata from the token URI. Null when not fetched."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/token/holder-structure": {
      "get": {
        "operationId": "holders",
        "tags": [
          "Tokens"
        ],
        "summary": "Holder structure",
        "description": "Inspect how a token’s supply is distributed across its public holders.",
        "parameters": [
          {
            "name": "base_mint",
            "in": "query",
            "required": true,
            "description": "Mint address of the token to inspect.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "base_mint",
                        "holders",
                        "insiders",
                        "fresh",
                        "insider_pct",
                        "fresh_pct",
                        "dev_launch_count",
                        "dev_dump_pct",
                        "dev_decidable"
                      ],
                      "properties": {
                        "base_mint": {
                          "type": "string",
                          "description": "Token mint address."
                        },
                        "holders": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Wallets holding the token."
                        },
                        "insiders": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Holders who got tokens without buying them, for example by transfer."
                        },
                        "fresh": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Holders whose wallet was first seen within 24 hours before they got this token. Null until the token is 24 hours old."
                        },
                        "insider_pct": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "Share of supply held by those holders, 0 to 100."
                        },
                        "fresh_pct": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "Share of supply held by fresh wallets, 0 to 100."
                        },
                        "dev_launch_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Tokens the creator has launched."
                        },
                        "dev_dump_pct": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "Share of the creator’s other launches they sold out of, 0 to 100. Null until enough launches can be judged."
                        },
                        "dev_decidable": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Other launches with a clear held or sold-out outcome."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/token/dev-tokens": {
      "get": {
        "operationId": "devTokens",
        "tags": [
          "Tokens"
        ],
        "summary": "Tokens by developer",
        "description": "Find tokens linked to a developer wallet for public on-chain research.",
        "parameters": [
          {
            "name": "dev_pubkey",
            "in": "query",
            "required": true,
            "description": "Developer wallet public key.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            }
          },
          {
            "name": "minutes",
            "in": "query",
            "required": false,
            "description": "Look back this many minutes. Must be 0 or greater.",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number. Must be at least 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of tokens per page. 1 to 100.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 30
            }
          },
          {
            "name": "order_by",
            "in": "query",
            "required": false,
            "description": "Field used to sort matching tokens.",
            "schema": {
              "type": "string",
              "enum": [
                "ath_mc",
                "holder_count",
                "mc",
                "liq",
                "price",
                "tx",
                "volume",
                "created_at",
                "price.percentage"
              ]
            }
          },
          {
            "name": "direction",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "pool_id",
                          "rank",
                          "signal_value",
                          "entered_ts",
                          "token",
                          "metrics"
                        ],
                        "properties": {
                          "pool_id": {
                            "type": "string",
                            "description": "Pool address."
                          },
                          "rank": {
                            "type": "integer",
                            "description": "Position in the feed, from 0 or 1 depending on the feed."
                          },
                          "signal_value": {
                            "type": "number",
                            "description": "Score the feed ranks by; its meaning depends on the feed."
                          },
                          "entered_ts": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Unix milliseconds when the pool entered this feed."
                          },
                          "token": {
                            "type": "object",
                            "required": [
                              "mintAddress",
                              "symbol",
                              "name",
                              "image"
                            ],
                            "properties": {
                              "mintAddress": {
                                "type": "string",
                                "description": "Token mint address."
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Token symbol. Not unique across tokens."
                              },
                              "name": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Token name."
                              },
                              "image": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Image path on the dydt CDN; prefix it with the CDN base URL."
                              },
                              "decimals": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "Token decimals."
                              },
                              "description": {
                                "type": "string",
                                "description": "Token description from its metadata."
                              },
                              "features": {
                                "type": "object",
                                "required": [
                                  "isMayhemMode",
                                  "mayhemEndsAt",
                                  "creatorFees"
                                ],
                                "properties": {
                                  "isMayhemMode": {
                                    "type": "boolean",
                                    "description": "Whether the token launched in pump.fun Mayhem mode."
                                  },
                                  "mayhemEndsAt": {
                                    "type": [
                                      "string",
                                      "null"
                                    ],
                                    "description": "ISO time when Mayhem mode ends; null outside Mayhem mode."
                                  },
                                  "creatorFees": {
                                    "type": "object",
                                    "required": [
                                      "destination"
                                    ],
                                    "properties": {
                                      "destination": {
                                        "type": "string",
                                        "description": "Fee recipient, for example creator."
                                      }
                                    },
                                    "description": "Where creator trading fees are routed."
                                  }
                                },
                                "description": "Launch features of the token."
                              },
                              "launchedAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "ISO time the token was created."
                              },
                              "socialLinks": {
                                "type": "object",
                                "additionalProperties": true,
                                "description": "Platform name to URL, for example twitter, website, telegram. Only known links are present."
                              }
                            },
                            "description": "Token summary."
                          },
                          "metrics": {
                            "type": "object",
                            "required": [
                              "snapshot",
                              "global",
                              "windowed"
                            ],
                            "properties": {
                              "snapshot": {
                                "type": "object",
                                "required": [
                                  "price",
                                  "mcap",
                                  "liq",
                                  "bonding_curve_progress"
                                ],
                                "properties": {
                                  "price": {
                                    "$ref": "#/components/schemas/ValuePair",
                                    "description": "Latest price per token."
                                  },
                                  "mcap": {
                                    "$ref": "#/components/schemas/ValuePair",
                                    "description": "Market cap."
                                  },
                                  "liq": {
                                    "$ref": "#/components/schemas/ValuePair",
                                    "description": "Pool liquidity."
                                  },
                                  "bonding_curve_progress": {
                                    "type": "number",
                                    "description": "Bonding curve completion, 0 to 100; 0 after migration."
                                  }
                                },
                                "description": "Current state."
                              },
                              "global": {
                                "type": "object",
                                "required": [
                                  "volume",
                                  "volume_buy",
                                  "volume_sell",
                                  "txn_count",
                                  "buy_count",
                                  "sell_count",
                                  "ath_mcap",
                                  "first_trade_time",
                                  "launch_price",
                                  "launch_price_usd",
                                  "price_pct_total",
                                  "holder_count",
                                  "buy_holder_count",
                                  "sell_holder_count",
                                  "lp_burned_pct",
                                  "total_supply",
                                  "circulating_supply",
                                  "holders_total",
                                  "dev_pct",
                                  "sniper_pct",
                                  "bundle_pct",
                                  "bundler_count",
                                  "top10_pct",
                                  "mint_revoked",
                                  "freeze_revoked",
                                  "dex_paid",
                                  "bcurve_gain_5m"
                                ],
                                "properties": {
                                  "volume": {
                                    "$ref": "#/components/schemas/ValuePair",
                                    "description": "All-time traded volume."
                                  },
                                  "volume_buy": {
                                    "$ref": "#/components/schemas/ValuePair",
                                    "description": "All-time buy volume."
                                  },
                                  "volume_sell": {
                                    "$ref": "#/components/schemas/ValuePair",
                                    "description": "All-time sell volume."
                                  },
                                  "txn_count": {
                                    "type": "integer",
                                    "description": "All-time trades."
                                  },
                                  "buy_count": {
                                    "type": "integer",
                                    "description": "All-time buys."
                                  },
                                  "sell_count": {
                                    "type": "integer",
                                    "description": "All-time sells."
                                  },
                                  "ath_mcap": {
                                    "$ref": "#/components/schemas/ValuePair",
                                    "description": "Highest market cap seen."
                                  },
                                  "first_trade_time": {
                                    "type": "integer",
                                    "description": "First trade in Unix milliseconds; 0 when unknown."
                                  },
                                  "launch_price": {
                                    "type": "number",
                                    "description": "First traded price in the quote asset; 0 when unknown."
                                  },
                                  "launch_price_usd": {
                                    "type": "number",
                                    "description": "First traded price in USD; 0 when unknown."
                                  },
                                  "price_pct_total": {
                                    "$ref": "#/components/schemas/ValuePair",
                                    "description": "Price change since launch, in percent."
                                  },
                                  "holder_count": {
                                    "type": "integer",
                                    "description": "Distinct wallets that have traded the token (approximate)."
                                  },
                                  "buy_holder_count": {
                                    "type": "integer",
                                    "description": "Distinct wallets that have bought (approximate)."
                                  },
                                  "sell_holder_count": {
                                    "type": "integer",
                                    "description": "Distinct wallets that have sold (approximate)."
                                  },
                                  "lp_burned_pct": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "Share of LP burned and locked, 0 to 1."
                                  },
                                  "total_supply": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "Total supply in whole tokens."
                                  },
                                  "circulating_supply": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "Circulating supply in whole tokens."
                                  },
                                  "holders_total": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ],
                                    "description": "Wallets holding the token right now."
                                  },
                                  "dev_pct": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "Share of supply held by the developer, 0 to 100."
                                  },
                                  "sniper_pct": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "Share of supply held by sniper wallets, 0 to 100."
                                  },
                                  "bundle_pct": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "Share of supply held by bundled launch buyers, 0 to 100."
                                  },
                                  "bundler_count": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ],
                                    "description": "Wallets that bought in bundled launch transactions."
                                  },
                                  "top10_pct": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "Share of supply held by the 10 largest holders, 0 to 100."
                                  },
                                  "mint_revoked": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ],
                                    "description": "1 when the mint authority is revoked, 0 when not."
                                  },
                                  "freeze_revoked": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ],
                                    "description": "1 when the freeze authority is revoked, 0 when not."
                                  },
                                  "dex_paid": {
                                    "type": [
                                      "integer",
                                      "null"
                                    ],
                                    "description": "1 when a DEX Screener profile was paid for, 0 when not."
                                  },
                                  "bcurve_gain_5m": {
                                    "type": [
                                      "number",
                                      "null"
                                    ],
                                    "description": "Bonding curve progress gained in the last 5 minutes."
                                  }
                                },
                                "description": "All-time aggregates and holder structure."
                              },
                              "windowed": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "object",
                                  "required": [
                                    "price_pct",
                                    "volume",
                                    "volume_buy",
                                    "volume_sell",
                                    "txn_count",
                                    "buy_count",
                                    "sell_count",
                                    "makers",
                                    "buy_makers",
                                    "sell_makers"
                                  ],
                                  "properties": {
                                    "price_pct": {
                                      "$ref": "#/components/schemas/ValuePair",
                                      "description": "Price change over the window, in percent."
                                    },
                                    "volume": {
                                      "$ref": "#/components/schemas/ValuePair",
                                      "description": "Traded volume over the window."
                                    },
                                    "volume_buy": {
                                      "$ref": "#/components/schemas/ValuePair",
                                      "description": "Buy volume over the window."
                                    },
                                    "volume_sell": {
                                      "$ref": "#/components/schemas/ValuePair",
                                      "description": "Sell volume over the window."
                                    },
                                    "txn_count": {
                                      "type": "integer",
                                      "description": "Trades over the window."
                                    },
                                    "buy_count": {
                                      "type": "integer",
                                      "description": "Buys over the window."
                                    },
                                    "sell_count": {
                                      "type": "integer",
                                      "description": "Sells over the window."
                                    },
                                    "makers": {
                                      "type": "integer",
                                      "description": "Distinct wallets that traded over the window."
                                    },
                                    "buy_makers": {
                                      "type": "integer",
                                      "description": "Distinct buyers over the window."
                                    },
                                    "sell_makers": {
                                      "type": "integer",
                                      "description": "Distinct sellers over the window."
                                    }
                                  }
                                },
                                "description": "Window name (1m, 5m, 1h, 6h, 24h) to that window’s metrics."
                              }
                            },
                            "description": "Market metrics. Holder and concentration fields are null until dydt has enough holder data to trust them."
                          },
                          "pool_info": {
                            "type": [
                              "object",
                              "null"
                            ],
                            "required": [
                              "poolId",
                              "network",
                              "baseTokenMint",
                              "quoteTokenMint",
                              "dex",
                              "poolType",
                              "feeRate",
                              "initialBaseAmount",
                              "initialQuoteAmount",
                              "lpMint",
                              "baseVault",
                              "lpIssued",
                              "openTime",
                              "createdAt",
                              "isInverted",
                              "baseLiquidity",
                              "quoteLiquidity",
                              "bondingCurveProgress",
                              "liqSol",
                              "liqUsd",
                              "lpBurnedPct",
                              "lpSupply",
                              "lpMintedTotal",
                              "lpBurnedTotal",
                              "lpBurnedLocked",
                              "lpBurnedWithdrawn",
                              "lpReconciledAt"
                            ],
                            "properties": {
                              "poolId": {
                                "type": "string",
                                "description": "Pool address."
                              },
                              "network": {
                                "type": "string",
                                "description": "Network name, mainnet."
                              },
                              "baseTokenMint": {
                                "type": "string",
                                "description": "Mint of the traded token."
                              },
                              "quoteTokenMint": {
                                "type": "string",
                                "description": "Mint of the asset it trades against, usually wrapped SOL."
                              },
                              "dex": {
                                "type": "string",
                                "description": "Venue, for example pumpfun, pumpAmm, raydium, meteora."
                              },
                              "poolType": {
                                "type": "string",
                                "description": "Pool model: BONDING_CURVE, AMM, CLMM, or DLMM."
                              },
                              "feeRate": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Pool trading fee when known."
                              },
                              "initialBaseAmount": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Base tokens deposited at pool creation, in raw units."
                              },
                              "initialQuoteAmount": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Quote tokens deposited at pool creation, in raw units."
                              },
                              "lpMint": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "LP token mint; null for bonding curves."
                              },
                              "baseVault": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Account holding the pool base tokens."
                              },
                              "lpIssued": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "LP tokens issued at creation, in raw units."
                              },
                              "openTime": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "ISO time the pool opened for trading."
                              },
                              "createdAt": {
                                "type": "string",
                                "description": "ISO time dydt first saw the pool."
                              },
                              "migratedFrom": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Bonding curve pool this pool migrated from."
                              },
                              "migratedAt": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "Migration time in Unix milliseconds."
                              },
                              "isInverted": {
                                "type": "boolean",
                                "description": "True when the pool stores the pair in reverse order."
                              },
                              "baseLiquidity": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Liquidity on the base side, in pool quote units."
                              },
                              "quoteLiquidity": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Liquidity on the quote side, in pool quote units."
                              },
                              "bondingCurveProgress": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Bonding curve completion, 0 to 100."
                              },
                              "liqSol": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Total liquidity in SOL."
                              },
                              "liqUsd": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Total liquidity in USD."
                              },
                              "lpBurnedPct": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Share of LP tokens burned and still locked, 0 to 1."
                              },
                              "lpSupply": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "LP tokens currently in circulation, in raw units."
                              },
                              "lpMintedTotal": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "All LP tokens ever minted, in raw units."
                              },
                              "lpBurnedTotal": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "All LP tokens ever burned, in raw units."
                              },
                              "lpBurnedLocked": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Burned LP tokens still counted as locked, in raw units."
                              },
                              "lpBurnedWithdrawn": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Burned LP later withdrawn, in raw units."
                              },
                              "lpReconciledAt": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "ISO time LP figures were last checked on chain."
                              }
                            },
                            "description": "Pool record."
                          }
                        }
                      },
                      "description": "Newest first."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/pools/recent": {
      "get": {
        "operationId": "recentPools",
        "tags": [
          "Pools & candles"
        ],
        "summary": "Recent pools",
        "description": "Discover recently created trading pools before requesting pool-specific data.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of pools to return. 1 to 200.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "dex",
            "in": "query",
            "required": false,
            "description": "Filter by DEX identifier.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "poolId",
                          "network",
                          "baseTokenMint",
                          "quoteTokenMint",
                          "dex",
                          "poolType",
                          "feeRate",
                          "initialBaseAmount",
                          "initialQuoteAmount",
                          "lpMint",
                          "baseVault",
                          "lpIssued",
                          "openTime",
                          "createdAt",
                          "isInverted",
                          "baseLiquidity",
                          "quoteLiquidity",
                          "bondingCurveProgress",
                          "liqSol",
                          "liqUsd",
                          "lpBurnedPct",
                          "lpSupply",
                          "lpMintedTotal",
                          "lpBurnedTotal",
                          "lpBurnedLocked",
                          "lpBurnedWithdrawn",
                          "lpReconciledAt"
                        ],
                        "properties": {
                          "poolId": {
                            "type": "string",
                            "description": "Pool address."
                          },
                          "network": {
                            "type": "string",
                            "description": "Network name, mainnet."
                          },
                          "baseTokenMint": {
                            "type": "string",
                            "description": "Mint of the traded token."
                          },
                          "quoteTokenMint": {
                            "type": "string",
                            "description": "Mint of the asset it trades against, usually wrapped SOL."
                          },
                          "dex": {
                            "type": "string",
                            "description": "Venue, for example pumpfun, pumpAmm, raydium, meteora."
                          },
                          "poolType": {
                            "type": "string",
                            "description": "Pool model: BONDING_CURVE, AMM, CLMM, or DLMM."
                          },
                          "feeRate": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Pool trading fee when known."
                          },
                          "initialBaseAmount": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Base tokens deposited at pool creation, in raw units."
                          },
                          "initialQuoteAmount": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Quote tokens deposited at pool creation, in raw units."
                          },
                          "lpMint": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP token mint; null for bonding curves."
                          },
                          "baseVault": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Account holding the pool base tokens."
                          },
                          "lpIssued": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP tokens issued at creation, in raw units."
                          },
                          "openTime": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "ISO time the pool opened for trading."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO time dydt first saw the pool."
                          },
                          "migratedFrom": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Bonding curve pool this pool migrated from."
                          },
                          "migratedAt": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Migration time in Unix milliseconds."
                          },
                          "isInverted": {
                            "type": "boolean",
                            "description": "True when the pool stores the pair in reverse order."
                          },
                          "baseLiquidity": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Liquidity on the base side, in pool quote units."
                          },
                          "quoteLiquidity": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Liquidity on the quote side, in pool quote units."
                          },
                          "bondingCurveProgress": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Bonding curve completion, 0 to 100."
                          },
                          "liqSol": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Total liquidity in SOL."
                          },
                          "liqUsd": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Total liquidity in USD."
                          },
                          "lpBurnedPct": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Share of LP tokens burned and still locked, 0 to 1."
                          },
                          "lpSupply": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP tokens currently in circulation, in raw units."
                          },
                          "lpMintedTotal": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "All LP tokens ever minted, in raw units."
                          },
                          "lpBurnedTotal": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "All LP tokens ever burned, in raw units."
                          },
                          "lpBurnedLocked": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Burned LP tokens still counted as locked, in raw units."
                          },
                          "lpBurnedWithdrawn": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Burned LP later withdrawn, in raw units."
                          },
                          "lpReconciledAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "ISO time LP figures were last checked on chain."
                          }
                        }
                      },
                      "description": "Newest first."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/pools/token/{tokenMint}": {
      "get": {
        "operationId": "poolsToken",
        "tags": [
          "Pools & candles"
        ],
        "summary": "Pools by token",
        "description": "Find the trading pools associated with a particular token mint.",
        "parameters": [
          {
            "name": "tokenMint",
            "in": "path",
            "required": true,
            "description": "Token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "poolId",
                          "network",
                          "baseTokenMint",
                          "quoteTokenMint",
                          "dex",
                          "poolType",
                          "feeRate",
                          "initialBaseAmount",
                          "initialQuoteAmount",
                          "lpMint",
                          "baseVault",
                          "lpIssued",
                          "openTime",
                          "createdAt",
                          "isInverted",
                          "baseLiquidity",
                          "quoteLiquidity",
                          "bondingCurveProgress",
                          "liqSol",
                          "liqUsd",
                          "lpBurnedPct",
                          "lpSupply",
                          "lpMintedTotal",
                          "lpBurnedTotal",
                          "lpBurnedLocked",
                          "lpBurnedWithdrawn",
                          "lpReconciledAt"
                        ],
                        "properties": {
                          "poolId": {
                            "type": "string",
                            "description": "Pool address."
                          },
                          "network": {
                            "type": "string",
                            "description": "Network name, mainnet."
                          },
                          "baseTokenMint": {
                            "type": "string",
                            "description": "Mint of the traded token."
                          },
                          "quoteTokenMint": {
                            "type": "string",
                            "description": "Mint of the asset it trades against, usually wrapped SOL."
                          },
                          "dex": {
                            "type": "string",
                            "description": "Venue, for example pumpfun, pumpAmm, raydium, meteora."
                          },
                          "poolType": {
                            "type": "string",
                            "description": "Pool model: BONDING_CURVE, AMM, CLMM, or DLMM."
                          },
                          "feeRate": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Pool trading fee when known."
                          },
                          "initialBaseAmount": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Base tokens deposited at pool creation, in raw units."
                          },
                          "initialQuoteAmount": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Quote tokens deposited at pool creation, in raw units."
                          },
                          "lpMint": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP token mint; null for bonding curves."
                          },
                          "baseVault": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Account holding the pool base tokens."
                          },
                          "lpIssued": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP tokens issued at creation, in raw units."
                          },
                          "openTime": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "ISO time the pool opened for trading."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO time dydt first saw the pool."
                          },
                          "migratedFrom": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Bonding curve pool this pool migrated from."
                          },
                          "migratedAt": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Migration time in Unix milliseconds."
                          },
                          "isInverted": {
                            "type": "boolean",
                            "description": "True when the pool stores the pair in reverse order."
                          },
                          "baseLiquidity": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Liquidity on the base side, in pool quote units."
                          },
                          "quoteLiquidity": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Liquidity on the quote side, in pool quote units."
                          },
                          "bondingCurveProgress": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Bonding curve completion, 0 to 100."
                          },
                          "liqSol": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Total liquidity in SOL."
                          },
                          "liqUsd": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Total liquidity in USD."
                          },
                          "lpBurnedPct": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Share of LP tokens burned and still locked, 0 to 1."
                          },
                          "lpSupply": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP tokens currently in circulation, in raw units."
                          },
                          "lpMintedTotal": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "All LP tokens ever minted, in raw units."
                          },
                          "lpBurnedTotal": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "All LP tokens ever burned, in raw units."
                          },
                          "lpBurnedLocked": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Burned LP tokens still counted as locked, in raw units."
                          },
                          "lpBurnedWithdrawn": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Burned LP later withdrawn, in raw units."
                          },
                          "lpReconciledAt": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "ISO time LP figures were last checked on chain."
                          }
                        }
                      },
                      "description": "Every known pool for the token."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/pools/pair": {
      "get": {
        "operationId": "poolsPair",
        "tags": [
          "Pools & candles"
        ],
        "summary": "Pools by pair",
        "description": "Find pools that trade a chosen base token against a chosen quote token.",
        "parameters": [
          {
            "name": "base",
            "in": "query",
            "required": true,
            "description": "Base token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            }
          },
          {
            "name": "quote",
            "in": "query",
            "required": true,
            "description": "Quote token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "data"
                  ],
                  "properties": {
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "poolId",
                          "network",
                          "baseTokenMint",
                          "quoteTokenMint",
                          "dex",
                          "poolType",
                          "feeRate",
                          "initialBaseAmount",
                          "initialQuoteAmount",
                          "lpMint",
                          "baseVault",
                          "lpIssued",
                          "openTime",
                          "createdAt",
                          "isInverted",
                          "baseLiquidity",
                          "quoteLiquidity",
                          "bondingCurveProgress",
                          "liqSol",
                          "liqUsd",
                          "lpBurnedPct",
                          "lpSupply",
                          "lpMintedTotal",
                          "lpBurnedTotal",
                          "lpBurnedLocked",
                          "lpBurnedWithdrawn",
                          "lpReconciledAt"
                        ],
                        "properties": {
                          "poolId": {
                            "type": "string",
                            "description": "Pool address."
                          },
                          "network": {
                            "type": "string",
                            "description": "Network name, mainnet."
                          },
                          "baseTokenMint": {
                            "type": "string",
                            "description": "Mint of the traded token."
                          },
                          "quoteTokenMint": {
                            "type": "string",
                            "description": "Mint of the asset it trades against, usually wrapped SOL."
                          },
                          "dex": {
                            "type": "string",
                            "description": "Venue, for example pumpfun, pumpAmm, raydium, meteora."
                          },
                          "poolType": {
                            "type": "string",
                            "description": "Pool model: BONDING_CURVE, AMM, CLMM, or DLMM."
                          },
                          "feeRate": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Pool trading fee when known."
                          },
                          "initialBaseAmount": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Base tokens deposited at pool creation, in raw units."
                          },
                          "initialQuoteAmount": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Quote tokens deposited at pool creation, in raw units."
                          },
                          "lpMint": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP token mint; null for bonding curves."
                          },
                          "baseVault": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Account holding the pool base tokens."
                          },
                          "lpIssued": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP tokens issued at creation, in raw units."
                          },
                          "openTime": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "ISO time the pool opened for trading."
                          },
                          "createdAt": {
                            "type": "string",
                            "description": "ISO time dydt first saw the pool."
                          },
                          "migratedFrom": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Bonding curve pool this pool migrated from."
                          },
                          "migratedAt": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Migration time in Unix milliseconds."
                          },
                          "isInverted": {
                            "type": "boolean",
                            "description": "True when the pool stores the pair in reverse order."
                          },
                          "baseLiquidity": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Liquidity on the base side, in pool quote units."
                          },
                          "quoteLiquidity": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Liquidity on the quote side, in pool quote units."
                          },
                          "bondingCurveProgress": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Bonding curve completion, 0 to 100."
                          },
                          "liqSol": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Total liquidity in SOL."
                          },
                          "liqUsd": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Total liquidity in USD."
                          },
                          "lpBurnedPct": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Share of LP tokens burned and still locked, 0 to 1."
                          },
                          "lpSupply": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "LP tokens currently in circulation, in raw units."
                          },
                          "lpMintedTotal": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "All LP tokens ever minted, in raw units."
                          },
                          "lpBurnedTotal": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "All LP tokens ever burned, in raw units."
                          },
[...]
