{
  "openapi": "3.1.0",
  "info": {
    "title": "dydt Market Data API",
    "version": "1.0.0",
    "summary": "Read-only Solana market data: tokens, pools, candles, trades, rankings, signals.",
    "description": "Authenticate with an API key from dydt.ai/developers/keys, sent as `Authorization: Bearer <key>`. Every response is an envelope: code is 0 on success, otherwise error names the failure and message explains it. List endpoints that page return pagination.next_cursor; pass it back as cursor. Rate limits are reported in RateLimit-* headers and monthly quota in X-Quota-* headers."
  },
  "externalDocs": {
    "description": "Developer docs",
    "url": "https://dydt.ai/developers"
  },
  "servers": [
    {
      "url": "https://data.dydt.ai/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Tokens",
      "description": "Token lookup and search, metadata, top holders and traders, signal history, and bonding curves."
    },
    {
      "name": "Rankings",
      "description": "Ranked discovery feeds with market filters."
    },
    {
      "name": "Signals",
      "description": "Token and wallet signal feeds."
    },
    {
      "name": "Pools",
      "description": "Pool discovery, pool state, windowed metrics for one or many pools, and OHLCV candles."
    },
    {
      "name": "Trades",
      "description": "Trades across every pool with filters and cursor pagination."
    },
    {
      "name": "Wallets",
      "description": "Labeled wallets and their activity, wallet stats, holdings, trades, daily PnL, created tokens, and the leaderboard."
    },
    {
      "name": "Market",
      "description": "The SOL reference price."
    }
  ],
  "paths": {
    "/tokens/search": {
      "get": {
        "operationId": "search_tokens",
        "tags": [
          "Tokens"
        ],
        "summary": "Search tokens",
        "description": "Find tokens by name, symbol, or mint address.\n\nSymbols are not unique. Search by mint address, or use match=exact, when you need one specific token.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search text: token name, symbol, or mint address.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100,
              "description": "Search text: token name, symbol, or mint address."
            }
          },
          {
            "name": "match",
            "in": "query",
            "required": false,
            "description": "smart ranks fuzzy matches; exact returns exact symbol or name matches only.",
            "schema": {
              "type": "string",
              "enum": [
                "smart",
                "exact"
              ],
              "description": "smart ranks fuzzy matches; exact returns exact symbol or name matches only.",
              "default": "smart"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Measure volume and trade counts over this window. Omit for all time.",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "6h",
                "24h",
                "3d",
                "7d",
                "30d"
              ],
              "description": "Measure volume and trade counts over this window. Omit for all time."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "market_cap",
                "ath_market_cap",
                "volume",
                "liquidity",
                "trader_count",
                "created_at"
              ],
              "description": "Field to sort by.",
              "default": "relevance"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Sort order.",
              "default": "desc"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Maximum rows to return.",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "token_address",
                          "pool_address",
                          "symbol",
                          "name",
                          "image_url",
                          "market_cap_quote",
                          "market_cap_usd",
                          "ath_market_cap_quote",
                          "ath_market_cap_usd",
                          "liquidity_quote",
                          "liquidity_usd",
                          "volume_quote",
                          "volume_usd",
                          "trader_count",
                          "buy_count",
                          "sell_count",
                          "socials",
                          "dex",
                          "pool_type",
                          "bonding_curve_progress_pct",
                          "migrated",
                          "created_at"
                        ],
                        "properties": {
                          "token_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Token mint address."
                          },
                          "pool_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Main pool for the token."
                          },
                          "symbol": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Token symbol."
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Token name."
                          },
                          "image_url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "Token image URL on the dydt CDN."
                          },
                          "market_cap_quote": {
                            "type": "number",
                            "description": "Market cap in the quote asset."
                          },
                          "market_cap_usd": {
                            "type": "number",
                            "description": "Market cap in USD."
                          },
                          "ath_market_cap_quote": {
                            "type": "number",
                            "description": "Highest market cap seen, in the quote asset."
                          },
                          "ath_market_cap_usd": {
                            "type": "number",
                            "description": "Highest market cap seen, in USD."
                          },
                          "liquidity_quote": {
                            "type": "number",
                            "description": "Pool liquidity in the quote asset."
                          },
                          "liquidity_usd": {
                            "type": "number",
                            "description": "Pool liquidity in USD."
                          },
                          "volume_quote": {
                            "type": "number",
                            "description": "Volume over the requested window, or all time without one."
                          },
                          "volume_usd": {
                            "type": "number",
                            "description": "Volume in USD over the same period."
                          },
                          "trader_count": {
                            "type": "integer",
                            "description": "Distinct wallets that have traded the token (approximate)."
                          },
                          "buy_count": {
                            "type": "integer",
                            "description": "Buys over the same period as volume."
                          },
                          "sell_count": {
                            "type": "integer",
                            "description": "Sells over the same period as volume."
                          },
                          "socials": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string",
                              "format": "uri"
                            },
                            "description": "Platform name to URL, for example twitter, telegram, website. Only known links are present."
                          },
                          "dex": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Venue of the pool, for example pumpfun, pumpAmm, raydium, meteora."
                          },
                          "pool_type": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "enum": [
                              "bonding_curve",
                              "amm",
                              "cpmm",
                              "clmm"
                            ],
                            "description": "Pool model."
                          },
                          "bonding_curve_progress_pct": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Bonding curve completion, 0 to 100; null for pools without a curve."
                          },
                          "migrated": {
                            "type": "boolean",
                            "description": "True once the token has left its bonding curve."
                          },
                          "created_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Pool creation time."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tokens/{token_address}": {
      "get": {
        "operationId": "get_token",
        "tags": [
          "Tokens"
        ],
        "summary": "Get a token",
        "description": "On-chain mint data and off-chain metadata for one token.",
        "parameters": [
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "description": "Token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
              "description": "Token mint address."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "token_address",
                        "symbol",
                        "name",
                        "decimals",
                        "supply_raw",
                        "token_program_address",
                        "mint_authority_address",
                        "freeze_authority_address",
                        "authorities_known",
                        "transfer_fee_bps",
                        "dex_paid",
                        "initialized",
                        "created_at",
                        "metadata_uri",
                        "image_url",
                        "description",
                        "socials",
                        "metadata_updated_at"
                      ],
                      "properties": {
                        "token_address": {
                          "type": "string",
                          "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "description": "Token mint address."
                        },
                        "symbol": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Token symbol."
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Token name."
                        },
                        "decimals": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Token decimals."
                        },
                        "supply_raw": {
                          "type": "string",
                          "description": "Current supply in raw units; divide by 10^decimals."
                        },
                        "token_program_address": {
                          "type": "string",
                          "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "description": "Token program: SPL Token or Token-2022."
                        },
                        "mint_authority_address": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "description": "Mint authority; null when revoked or unknown."
                        },
                        "freeze_authority_address": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "description": "Freeze authority; null when revoked or unknown."
                        },
                        "authorities_known": {
                          "type": "boolean",
                          "description": "False when the authorities could not be read yet."
                        },
                        "transfer_fee_bps": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Token-2022 transfer fee in basis points."
                        },
                        "dex_paid": {
                          "type": [
                            "boolean",
                            "null"
                          ],
                          "description": "Whether a DEX Screener profile was paid for."
                        },
                        "initialized": {
                          "type": "boolean",
                          "description": "Whether the mint account is initialized."
                        },
                        "created_at": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Token creation time."
                        },
                        "metadata_uri": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Metadata URI recorded on chain."
                        },
                        "image_url": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "uri",
                          "description": "Token image URL on the dydt CDN."
                        },
                        "description": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "description": "Description from the token metadata."
                        },
                        "socials": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "format": "uri"
                          },
                          "description": "Platform name to URL, for example twitter, telegram, website. Only known links are present."
                        },
                        "metadata_updated_at": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "format": "int64",
                          "description": "When the off-chain metadata was last fetched."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tokens": {
      "get": {
        "operationId": "list_tokens",
        "tags": [
          "Tokens"
        ],
        "summary": "Get many tokens",
        "description": "Several tokens in one call, up to 50.\n\nUnknown addresses are left out of the result.",
        "parameters": [
          {
            "name": "token_addresses",
            "in": "query",
            "required": true,
            "description": "Tokens to fetch, comma-separated, up to 50.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
              },
              "maxItems": 50,
              "description": "Tokens to fetch, comma-separated, up to 50."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "token_address",
                          "symbol",
                          "name",
                          "decimals",
                          "supply_raw",
                          "token_program_address",
                          "mint_authority_address",
                          "freeze_authority_address",
                          "authorities_known",
                          "transfer_fee_bps",
                          "dex_paid",
                          "initialized",
                          "created_at",
                          "metadata_uri",
                          "image_url",
                          "description",
                          "socials",
                          "metadata_updated_at"
                        ],
                        "properties": {
                          "token_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Token mint address."
                          },
                          "symbol": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Token symbol."
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Token name."
                          },
                          "decimals": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Token decimals."
                          },
                          "supply_raw": {
                            "type": "string",
                            "description": "Current supply in raw units; divide by 10^decimals."
                          },
                          "token_program_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Token program: SPL Token or Token-2022."
                          },
                          "mint_authority_address": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Mint authority; null when revoked or unknown."
                          },
                          "freeze_authority_address": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Freeze authority; null when revoked or unknown."
                          },
                          "authorities_known": {
                            "type": "boolean",
                            "description": "False when the authorities could not be read yet."
                          },
                          "transfer_fee_bps": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Token-2022 transfer fee in basis points."
                          },
                          "dex_paid": {
                            "type": [
                              "boolean",
                              "null"
                            ],
                            "description": "Whether a DEX Screener profile was paid for."
                          },
                          "initialized": {
                            "type": "boolean",
                            "description": "Whether the mint account is initialized."
                          },
                          "created_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Token creation time."
                          },
                          "metadata_uri": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Metadata URI recorded on chain."
                          },
                          "image_url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "Token image URL on the dydt CDN."
                          },
                          "description": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Description from the token metadata."
                          },
                          "socials": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "string",
                              "format": "uri"
                            },
                            "description": "Platform name to URL, for example twitter, telegram, website. Only known links are present."
                          },
                          "metadata_updated_at": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "When the off-chain metadata was last fetched."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tokens/{token_address}/holder-stats": {
      "get": {
        "operationId": "get_token_holder_stats",
        "tags": [
          "Tokens"
        ],
        "summary": "Get holder distribution",
        "description": "How the token's supply is spread across holders, insiders, and fresh wallets, plus the creator's track record.",
        "parameters": [
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "description": "Token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
              "description": "Token mint address."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "token_address",
                        "holder_count",
                        "insider_count",
                        "fresh_count",
                        "insider_pct",
                        "fresh_pct",
                        "creator_launch_count",
                        "creator_dump_pct",
                        "creator_judged_launch_count"
                      ],
                      "properties": {
                        "token_address": {
                          "type": "string",
                          "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "description": "Token mint address."
                        },
                        "holder_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Wallets holding the token."
                        },
                        "insider_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Holders who got tokens without buying them, for example by transfer."
                        },
                        "fresh_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Holders whose wallet was first seen within 24 hours before they got the token. Null until the token is 24 hours old."
                        },
                        "insider_pct": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "Share of supply held by insiders, 0 to 100."
                        },
                        "fresh_pct": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "Share of supply held by fresh wallets, 0 to 100."
                        },
                        "creator_launch_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Tokens the creator has launched."
                        },
                        "creator_dump_pct": {
                          "type": [
                            "number",
                            "null"
                          ],
                          "description": "Share of the creator's other launches they sold out of, 0 to 100. Null until enough launches can be judged."
                        },
                        "creator_judged_launch_count": {
                          "type": [
                            "integer",
                            "null"
                          ],
                          "description": "Other launches with a clear held or sold-out outcome."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tokens/{token_address}/holders": {
      "get": {
        "operationId": "list_token_holders",
        "tags": [
          "Tokens"
        ],
        "summary": "List top holders",
        "description": "Wallets holding the most of the token right now, largest first.\n\nlabel=kol or smart or vc or dev_team or bot or mayhem_bot or agent_buyback or rat needs the Pro or Scale plan.\n\nHoldings come from trades dydt indexed. Pool vaults and wallets that only received tokens by transfer are not listed.",
        "parameters": [
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "description": "Token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
              "description": "Token mint address."
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Only holders with this label. Needs the Pro or Scale plan.",
            "schema": {
              "type": "string",
              "enum": [
                "kol",
                "smart",
                "vc",
                "dev_team",
                "bot",
                "mayhem_bot",
                "agent_buyback",
                "rat"
              ],
              "description": "Only holders with this label. Needs the Pro or Scale plan."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Maximum rows to return.",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "wallet_address",
                          "token_amount",
                          "supply_pct",
                          "cost_usd",
                          "cost_sol",
                          "bought_token_amount",
                          "bought_usd",
                          "sold_token_amount",
                          "sold_usd",
                          "first_bought_at",
                          "updated_at",
                          "labels"
                        ],
                        "properties": {
                          "wallet_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Wallet address."
                          },
                          "token_amount": {
                            "type": "number",
                            "description": "Tokens held now, in whole tokens."
                          },
                          "supply_pct": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Share of total supply held, 0 to 100. Null when supply is unknown."
                          },
                          "cost_usd": {
                            "type": "number",
                            "description": "Cost basis of the tokens still held, in USD."
                          },
                          "cost_sol": {
                            "type": "number",
                            "description": "Cost basis of the tokens still held, in SOL."
                          },
                          "bought_token_amount": {
                            "type": "number",
                            "description": "Tokens bought over the wallet's lifetime, in whole tokens."
                          },
                          "bought_usd": {
                            "type": "number",
                            "description": "Spent on buys over the wallet's lifetime, in USD."
                          },
                          "sold_token_amount": {
                            "type": "number",
                            "description": "Tokens sold over the wallet's lifetime, in whole tokens."
                          },
                          "sold_usd": {
                            "type": "number",
                            "description": "Received from sells over the wallet's lifetime, in USD."
                          },
                          "first_bought_at": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "First buy of this token."
                          },
                          "updated_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Last change to this position."
                          },
                          "labels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "required": [
                                "label",
                                "name",
                                "avatar_url"
                              ],
                              "properties": {
                                "label": {
                                  "type": "string",
                                  "description": "Label, for example kol, smart, vc, dev_team, bot, or rat."
                                },
                                "name": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "description": "Display name when known, for example a KOL handle."
                                },
                                "avatar_url": {
                                  "type": [
                                    "string",
                                    "null"
                                  ],
                                  "format": "uri",
                                  "description": "Avatar image URL when known."
                                }
                              }
                            },
                            "description": "Public labels on the wallet; empty for most wallets."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tokens/{token_address}/traders": {
      "get": {
        "operationId": "list_token_traders",
        "tags": [
          "Tokens"
        ],
        "summary": "List top traders",
        "description": "Wallets that traded the token, ranked by profit or activity.\n\nlabel=kol or smart or vc needs the Pro or Scale plan.",
        "parameters": [
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "description": "Token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
              "description": "Token mint address."
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Only count trades in this window. Omit for all time.",
            "schema": {
              "type": "string",
              "enum": [
                "24h",
                "3d",
                "7d",
                "30d"
              ],
              "description": "Only count trades in this window. Omit for all time."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort by.",
            "schema": {
              "type": "string",
              "enum": [
                "realized_pnl",
                "bought",
                "sold",
                "holding_value",
                "token_balance",
                "trade_count"
              ],
              "description": "Field to sort by.",
              "default": "realized_pnl"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Sort order.",
              "default": "desc"
            }
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "description": "Everyone, wallets still holding, or wallets that sold out.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "holding",
                "sold"
              ],
              "description": "Everyone, wallets still holding, or wallets that sold out.",
              "default": "all"
            }
          },
          {
            "name": "activity",
            "in": "query",
            "required": false,
            "description": "Everyone, buyers only, or sellers only.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "buyers",
                "sellers"
              ],
              "description": "Everyone, buyers only, or sellers only.",
              "default": "all"
            }
          },
          {
            "name": "outcome",
            "in": "query",
            "required": false,
            "description": "Everyone, wallets in profit, or wallets at a loss.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "profit",
                "loss"
              ],
              "description": "Everyone, wallets in profit, or wallets at a loss.",
              "default": "all"
            }
          },
          {
            "name": "entry_window",
            "in": "query",
            "required": false,
            "description": "Only wallets that first bought within this long of launch; late means after the first hour.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "1m",
                "5m",
                "1h",
                "24h",
                "late"
              ],
              "description": "Only wallets that first bought within this long of launch; late means after the first hour.",
              "default": "all"
            }
          },
          {
            "name": "min_bought_usd",
            "in": "query",
            "required": false,
            "description": "Only wallets that bought at least this much, in USD.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Only wallets that bought at least this much, in USD."
            }
          },
          {
            "name": "min_trade_count",
            "in": "query",
            "required": false,
            "description": "Only wallets with at least this many trades.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Only wallets with at least this many trades."
            }
          },
          {
            "name": "wallet_addresses",
            "in": "query",
            "required": false,
            "description": "Only these wallets, comma-separated, up to 200.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
              },
              "maxItems": 200,
              "description": "Only these wallets, comma-separated, up to 200."
            }
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "description": "Only wallets with this label. Needs the Pro or Scale plan.",
            "schema": {
              "type": "string",
              "enum": [
                "kol",
                "smart",
                "vc"
              ],
              "description": "Only wallets with this label. Needs the Pro or Scale plan."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Maximum rows to return.",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "wallet_address",
                          "bought_usd",
                          "bought_sol",
                          "bought_token_amount",
                          "buy_count",
                          "sold_usd",
                          "sold_sol",
                          "sold_token_amount",
                          "sell_count",
                          "trade_count",
                          "token_balance",
                          "first_trade_at",
                          "last_trade_at",
                          "realized_pnl_usd",
                          "realized_pnl_sol",
                          "holding_value_usd",
                          "holding_value_sol"
                        ],
                        "properties": {
                          "wallet_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Wallet address."
                          },
                          "bought_usd": {
                            "type": "number",
                            "description": "Total bought, in USD."
                          },
                          "bought_sol": {
                            "type": "number",
                            "description": "Total bought, in SOL."
                          },
                          "bought_token_amount": {
                            "type": "number",
                            "description": "Tokens bought, in whole tokens."
                          },
                          "buy_count": {
                            "type": "integer",
                            "description": "Buy transactions."
                          },
                          "sold_usd": {
                            "type": "number",
                            "description": "Total sold, in USD."
                          },
                          "sold_sol": {
                            "type": "number",
                            "description": "Total sold, in SOL."
                          },
                          "sold_token_amount": {
                            "type": "number",
                            "description": "Tokens sold, in whole tokens."
                          },
                          "sell_count": {
                            "type": "integer",
                            "description": "Sell transactions."
                          },
                          "trade_count": {
                            "type": "integer",
                            "description": "All transactions."
                          },
                          "token_balance": {
                            "type": "number",
                            "description": "Tokens still held from these trades, in whole tokens."
                          },
                          "first_trade_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "First trade."
                          },
                          "last_trade_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Latest trade."
                          },
                          "realized_pnl_usd": {
                            "type": "number",
                            "description": "Realized profit in USD."
                          },
                          "realized_pnl_sol": {
                            "type": "number",
                            "description": "Realized profit in SOL."
                          },
                          "holding_value_usd": {
                            "type": "number",
                            "description": "Value of the remaining balance at the current price, in USD."
                          },
                          "holding_value_sol": {
                            "type": "number",
                            "description": "Value of the remaining balance at the current price, in SOL."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tokens/{token_address}/bonding-curve": {
      "get": {
        "operationId": "get_token_bonding_curve",
        "tags": [
          "Tokens"
        ],
        "summary": "Get bonding curve",
        "description": "Latest bonding-curve reserves for a token launched on a curve.\n\nReturns 404 for tokens without a bonding curve. After migration the state stops updating; use the AMM pool instead.",
        "parameters": [
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "description": "Token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
              "description": "Token mint address."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "required": [
                        "token_address",
                        "virtual_token_reserves_raw",
                        "virtual_sol_reserves_lamports",
                        "real_token_reserves_raw",
                        "real_sol_reserves_lamports",
                        "total_supply",
                        "completed",
                        "creator_address"
                      ],
                      "properties": {
                        "token_address": {
                          "type": "string",
                          "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "description": "Token mint address."
                        },
                        "virtual_token_reserves_raw": {
                          "type": "string",
                          "description": "Virtual token reserves, raw units."
                        },
                        "virtual_sol_reserves_lamports": {
                          "type": "string",
                          "description": "Virtual SOL reserves, in lamports."
                        },
                        "real_token_reserves_raw": {
                          "type": "string",
                          "description": "Tokens left to sell on the curve, raw units."
                        },
                        "real_sol_reserves_lamports": {
                          "type": "string",
                          "description": "SOL held by the curve, in lamports."
                        },
                        "total_supply": {
                          "type": "string",
                          "description": "Total supply in whole tokens."
                        },
                        "completed": {
                          "type": "boolean",
                          "description": "True once the curve has filled and the token migrated."
                        },
                        "creator_address": {
                          "type": "string",
                          "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                          "description": "Wallet that created the token."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tokens/{token_address}/signals": {
      "get": {
        "operationId": "list_token_signal_history",
        "tags": [
          "Tokens"
        ],
        "summary": "List a token's signals",
        "description": "The latest signals that fired on the token, newest first.\n\nNeeds the Pro or Scale plan.",
        "parameters": [
          {
            "name": "token_address",
            "in": "path",
            "required": true,
            "description": "Token mint address.",
            "schema": {
              "type": "string",
              "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
              "description": "Token mint address."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "description": "Maximum rows to return.",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "signal_id",
                          "token_address",
                          "pool_address",
                          "symbol",
                          "name",
                          "image_url",
                          "dex",
                          "tier",
                          "kind",
                          "kinds",
                          "confluence",
                          "pool_kind",
                          "anchor",
                          "fast_path",
                          "alert_index",
                          "alerted_at",
                          "triggered_at",
                          "detection_lag_ms",
                          "alert_market_cap_usd",
                          "alert_price_usd",
                          "alert_liquidity_usd",
                          "alert_sol_price_usd",
                          "alert_trader_count",
                          "first_alert_at",
                          "first_alert_market_cap_usd",
                          "first_alert_price_usd",
                          "first_alert_liquidity_usd",
                          "first_alert_sol_price_usd",
                          "first_alert_trader_count",
                          "current_market_cap_usd",
                          "current_price_usd",
                          "current_liquidity_usd",
                          "current_trader_count",
                          "peak_market_cap_usd",
                          "peak_at",
                          "token_peak_market_cap_usd",
                          "token_peak_at",
                          "bonding_curve_progress_pct",
                          "entity_count",
                          "tier_a_count",
                          "tier_b_count",
                          "tier_c_count",
                          "cohort_buy_usd",
                          "buyer_burst",
                          "warnings",
                          "migrated_at",
                          "migrated_to_pool_address"
                        ],
                        "properties": {
                          "signal_id": {
                            "type": "string",
                            "description": "Signal id, stable across alerts for the same signal."
                          },
                          "token_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Token mint address."
                          },
                          "pool_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Pool the signal fired on."
                          },
                          "symbol": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Token symbol."
                          },
                          "name": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Token name."
                          },
                          "image_url": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "format": "uri",
                            "description": "Token image URL on the dydt CDN."
                          },
                          "dex": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "Venue of the pool, for example pumpfun, pumpAmm, raydium, meteora."
                          },
                          "tier": {
                            "type": "string",
                            "enum": [
                              "high_conviction",
                              "qualified"
                            ],
                            "description": "Signal quality tier."
                          },
                          "kind": {
                            "type": "string",
                            "enum": [
                              "cohort",
                              "momentum"
                            ],
                            "description": "Primary detector that fired."
                          },
                          "kinds": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "cohort",
                                "momentum"
                              ]
                            },
                            "description": "Every detector that fired for this signal."
                          },
                          "confluence": {
                            "type": "boolean",
                            "description": "True when more than one detector agreed."
                          },
                          "pool_kind": {
                            "type": "string",
                            "enum": [
                              "bonding_curve",
                              "amm"
                            ],
                            "description": "Pool model at the time of the alert."
                          },
                          "anchor": {
                            "type": "boolean",
                            "description": "True when this is the first signal on the token."
                          },
                          "fast_path": {
                            "type": "boolean",
                            "description": "True when two or more tier A wallets bought within seconds of each other."
                          },
                          "alert_index": {
                            "type": "integer",
                            "description": "Alert number within the signal, from 1."
                          },
                          "alerted_at": {
                            "type": "array",
                            "items": {
                              "type": "integer",
                              "format": "int64"
                            },
                            "description": "Time of every alert for this signal."
                          },
                          "triggered_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Trade that triggered this alert."
                          },
                          "detection_lag_ms": {
                            "type": "integer",
                            "description": "Milliseconds from that trade to the alert."
                          },
                          "alert_market_cap_usd": {
                            "type": "number",
                            "description": "Market cap at this alert."
                          },
                          "alert_price_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Price at this alert."
                          },
                          "alert_liquidity_usd": {
                            "type": "number",
                            "description": "Liquidity at this alert."
                          },
                          "alert_sol_price_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "SOL price at this alert."
                          },
                          "alert_trader_count": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Distinct traders at this alert."
                          },
                          "first_alert_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "First alert of this signal."
                          },
                          "first_alert_market_cap_usd": {
                            "type": "number",
                            "description": "Market cap at the first alert."
                          },
                          "first_alert_price_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Price at the first alert."
                          },
                          "first_alert_liquidity_usd": {
                            "type": "number",
                            "description": "Liquidity at the first alert."
                          },
                          "first_alert_sol_price_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "SOL price at the first alert."
                          },
                          "first_alert_trader_count": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Distinct traders at the first alert."
                          },
                          "current_market_cap_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Market cap now."
                          },
                          "current_price_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Price now."
                          },
                          "current_liquidity_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Liquidity now."
                          },
                          "current_trader_count": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "description": "Distinct traders now."
                          },
                          "peak_market_cap_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Highest market cap since this alert."
                          },
                          "peak_at": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "Time of that peak."
                          },
                          "token_peak_market_cap_usd": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Highest market cap since the first alert."
                          },
                          "token_peak_at": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "Time of that peak."
                          },
                          "bonding_curve_progress_pct": {
                            "type": [
                              "number",
                              "null"
                            ],
                            "description": "Bonding curve completion at this alert, 0 to 100."
                          },
                          "entity_count": {
                            "type": "integer",
                            "description": "Distinct buyer entities behind the signal."
                          },
                          "tier_a_count": {
                            "type": "integer",
                            "description": "Tier A wallets among them."
                          },
                          "tier_b_count": {
                            "type": "integer",
                            "description": "Tier B wallets among them."
                          },
                          "tier_c_count": {
                            "type": "integer",
                            "description": "Tier C wallets among them."
                          },
                          "cohort_buy_usd": {
                            "type": "number",
                            "description": "Combined buys by those entities."
                          },
                          "buyer_burst": {
                            "type": "number",
                            "description": "Unique buyers in the 10-second detection window relative to the 5-minute buyer rate; 1 is normal."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Caveats, for example dev_share_unknown."
                          },
                          "migrated_at": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "When the token migrated off its bonding curve."
                          },
                          "migrated_to_pool_address": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "AMM pool it migrated to."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/tokens/rankings/{feed}": {
      "get": {
        "operationId": "get_token_ranking",
        "tags": [
          "Rankings"
        ],
        "summary": "Get a ranked feed",
        "description": "A ranked token feed with market filters.\n\nRanking snapshots can report quote values as 0 while USD is set; prefer the USD fields.\n\nWithout sort, live feeds are ordered by recency and ranked feeds by their score; order still applies.",
        "parameters": [
          {
            "name": "feed",
            "in": "path",
            "required": true,
            "description": "Ranking feed.",
            "schema": {
              "type": "string",
              "enum": [
                "new_pair",
                "popular",
                "top_gainers",
                "almost_bonded",
                "migrated",
                "stocks"
              ],
              "description": "Ranking feed."
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Window the windowed filters and sorts use. Ranked feeds (popular, top_gainers, stocks) also rank over it and default to 1h; live feeds (new_pair, almost_bonded, migrated) default to all-time figures.",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "1h",
                "6h",
                "24h"
              ],
              "description": "Window the windowed filters and sorts use. Ranked feeds (popular, top_gainers, stocks) also rank over it and default to 1h; live feeds (new_pair, almost_bonded, migrated) default to all-time figures."
            }
          },
          {
            "name": "windows",
            "in": "query",
            "required": false,
            "description": "Windows to include in windowed, comma-separated.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "1m",
                  "5m",
                  "1h",
                  "6h",
                  "24h"
                ]
              },
              "maxItems": 5,
              "description": "Windows to include in windowed, comma-separated."
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Field to sort by. Omit for the feed's own order.",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "market_cap",
                "ath_market_cap",
                "liquidity",
                "price",
                "volume",
                "trade_count",
                "trader_count",
                "price_change_pct",
                "holder_count",
                "dev_pct",
                "sniper_pct",
                "bundle_pct",
                "top10_pct",
                "bonding_curve_progress_pct",
                "bonding_curve_gain_5m_pct"
              ],
              "description": "Field to sort by. Omit for the feed's own order."
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "description": "Sort order.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "description": "Sort order.",
              "default": "desc"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "description": "Count buys, sells, or both in the trade, volume, and trader filters.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "buy",
                "sell"
              ],
              "description": "Count buys, sells, or both in the trade, volume, and trader filters.",
              "default": "all"
            }
          },
          {
            "name": "dexes",
            "in": "query",
            "required": false,
            "description": "Only these venues, comma-separated.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "maxLength": 40
              },
              "maxItems": 20,
              "description": "Only these venues, comma-separated."
            }
          },
          {
            "name": "quote_addresses",
            "in": "query",
            "required": false,
            "description": "Only pools quoted in these assets, comma-separated.",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$"
              },
              "maxItems": 10,
              "description": "Only pools quoted in these assets, comma-separated."
            }
          },
          {
            "name": "min_age_minutes",
            "in": "query",
            "required": false,
            "description": "Only tokens at least this many minutes old.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Only tokens at least this many minutes old."
            }
          },
          {
            "name": "max_age_minutes",
            "in": "query",
            "required": false,
            "description": "Only tokens at most this many minutes old.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Only tokens at most this many minutes old."
            }
          },
          {
            "name": "min_market_cap_usd",
            "in": "query",
            "required": false,
            "description": "Minimum market cap in USD.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Minimum market cap in USD."
            }
          },
          {
            "name": "max_market_cap_usd",
            "in": "query",
            "required": false,
            "description": "Maximum market cap in USD.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Maximum market cap in USD."
            }
          },
          {
            "name": "min_liquidity_usd",
            "in": "query",
            "required": false,
            "description": "Minimum liquidity in USD.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Minimum liquidity in USD."
            }
          },
          {
            "name": "max_liquidity_usd",
            "in": "query",
            "required": false,
            "description": "Maximum liquidity in USD.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Maximum liquidity in USD."
            }
          },
          {
            "name": "min_volume_usd",
            "in": "query",
            "required": false,
            "description": "Minimum volume in the window, in USD.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Minimum volume in the window, in USD."
            }
          },
          {
            "name": "max_volume_usd",
            "in": "query",
            "required": false,
            "description": "Maximum volume in the window, in USD.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "description": "Maximum volume in the window, in USD."
            }
          },
          {
            "name": "min_trade_count",
            "in": "query",
            "required": false,
            "description": "Minimum trades in the window.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Minimum trades in the window."
            }
          },
          {
            "name": "max_trade_count",
            "in": "query",
            "required": false,
            "description": "Maximum trades in the window.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Maximum trades in the window."
            }
          },
          {
            "name": "min_trader_count",
            "in": "query",
            "required": false,
            "description": "Minimum distinct traders in the window.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Minimum distinct traders in the window."
            }
          },
          {
            "name": "max_trader_count",
            "in": "query",
            "required": false,
            "description": "Maximum distinct traders in the window.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Maximum distinct traders in the window."
            }
          },
          {
            "name": "min_price_change_pct",
            "in": "query",
            "required": false,
            "description": "Minimum price change in the window, in percent.",
            "schema": {
              "type": "number",
              "description": "Minimum price change in the window, in percent."
            }
          },
          {
            "name": "max_price_change_pct",
            "in": "query",
            "required": false,
            "description": "Maximum price change in the window, in percent.",
            "schema": {
              "type": "number",
              "description": "Maximum price change in the window, in percent."
            }
          },
          {
            "name": "min_holder_count",
            "in": "query",
            "required": false,
            "description": "Minimum current holders.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Minimum current holders."
            }
          },
          {
            "name": "max_holder_count",
            "in": "query",
            "required": false,
            "description": "Maximum current holders.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Maximum current holders."
            }
          },
          {
            "name": "min_lp_burned_pct",
            "in": "query",
            "required": false,
            "description": "Minimum share of LP burned, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Minimum share of LP burned, 0 to 100."
            }
          },
          {
            "name": "min_dev_pct",
            "in": "query",
            "required": false,
            "description": "Minimum creator holding, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Minimum creator holding, 0 to 100."
            }
          },
          {
            "name": "max_dev_pct",
            "in": "query",
            "required": false,
            "description": "Maximum creator holding, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Maximum creator holding, 0 to 100."
            }
          },
          {
            "name": "min_sniper_pct",
            "in": "query",
            "required": false,
            "description": "Minimum sniper holding, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Minimum sniper holding, 0 to 100."
            }
          },
          {
            "name": "max_sniper_pct",
            "in": "query",
            "required": false,
            "description": "Maximum sniper holding, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Maximum sniper holding, 0 to 100."
            }
          },
          {
            "name": "min_bundle_pct",
            "in": "query",
            "required": false,
            "description": "Minimum bundled holding, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Minimum bundled holding, 0 to 100."
            }
          },
          {
            "name": "max_bundle_pct",
            "in": "query",
            "required": false,
            "description": "Maximum bundled holding, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Maximum bundled holding, 0 to 100."
            }
          },
          {
            "name": "min_top10_pct",
            "in": "query",
            "required": false,
            "description": "Minimum top-10 holder share, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Minimum top-10 holder share, 0 to 100."
            }
          },
          {
            "name": "max_top10_pct",
            "in": "query",
            "required": false,
            "description": "Maximum top-10 holder share, 0 to 100.",
            "schema": {
              "type": "number",
              "minimum": 0,
              "maximum": 100,
              "description": "Maximum top-10 holder share, 0 to 100."
            }
          },
          {
            "name": "mint_revoked",
            "in": "query",
            "required": false,
            "description": "Only tokens whose mint authority is (true) or is not (false) revoked.",
            "schema": {
              "type": "boolean",
              "description": "Only tokens whose mint authority is (true) or is not (false) revoked."
            }
          },
          {
            "name": "freeze_revoked",
            "in": "query",
            "required": false,
            "description": "Only tokens whose freeze authority is (true) or is not (false) revoked.",
            "schema": {
              "type": "boolean",
              "description": "Only tokens whose freeze authority is (true) or is not (false) revoked."
            }
          },
          {
            "name": "dex_paid",
            "in": "query",
            "required": false,
            "description": "Only tokens with (true) or without (false) a paid DEX Screener profile.",
            "schema": {
              "type": "boolean",
              "description": "Only tokens with (true) or without (false) a paid DEX Screener profile."
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum rows to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Maximum rows to return.",
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "next_cursor from the previous page. Omit for the first page.",
            "schema": {
              "type": "string",
              "pattern": "^[A-Za-z0-9_-]+$",
              "description": "next_cursor from the previous page. Omit for the first page."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "code",
                    "error",
                    "message",
                    "data",
                    "pagination"
                  ],
                  "properties": {
                    "code": {
                      "const": 0
                    },
                    "error": {
                      "type": "null"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "pool_address",
                          "rank",
                          "score",
                          "entered_at",
                          "token",
                          "pool",
                          "snapshot",
                          "totals",
                          "windowed"
                        ],
                        "properties": {
                          "pool_address": {
                            "type": "string",
                            "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                            "description": "Pool address."
                          },
                          "rank": {
                            "type": "integer",
                            "description": "Position in the feed."
                          },
                          "score": {
                            "type": "number",
                            "description": "Value the feed ranks by; its meaning depends on the feed."
                          },
                          "entered_at": {
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int64",
                            "description": "When the pool entered this feed."
                          },
                          "token": {
                            "type": "object",
                            "required": [
                              "token_address",
                              "symbol",
                              "name",
                              "image_url",
                              "decimals",
                              "description",
                              "socials",
                              "launched_at",
                              "mayhem_mode",
                              "mayhem_ends_at",
                              "creator_fee_destination"
                            ],
                            "properties": {
                              "token_address": {
                                "type": "string",
                                "pattern": "^[1-9A-HJ-NP-Za-km-z]{32,44}$",
                                "description": "Token mint address."
                              },
                              "symbol": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Token symbol. Symbols are not unique across tokens."
                              },
                              "name": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Token name."
                              },
                              "image_url": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "format": "uri",
                                "description": "Token image URL on the dydt CDN."
                              },
                              "decimals": {
                                "type": [
                                  "integer",
                                  "null"
                                ],
                                "description": "Token decimals."
                              },
                              "description": {
                                "type": [
                                  "string",
                                  "null"
                                ],
                                "description": "Token description from its metadata."
                              },
                              "socials": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string",
                                  "format": "uri"
                                },
[...]
